<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Weather
        script(src="test.js")
        style
            include style.css
    body
        block result
        div.formDiv
            form(action='/searchsubmit')
                h1 Show the weather in your city
                div.box 
                    input.input(type='text', name='city', placeholder='City')
                    input#action(value='choose', type='submit', onclick='myFunction()')

            br
            a(href='/result')
                button#see_result SEE RESULT
        


                     



            


